*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.wrapper {
  min-height: 100%;
  background: tomato;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header {
  font-family: sans-serif;
  min-height: 100px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: rgba(0, 0, 255, 0.8);
  font-size: 18px;
  -webkit-box-shadow: 0px 7px 5px -1px rgba(66, 68, 90, 0.5);
  -moz-box-shadow: 0px 7px 5px -1px rgba(66, 68, 90, 0.5);
  box-shadow: 0px 7px 5px -1px rgba(66, 68, 90, 0.5);
}

.header_title {
}

.header_subtitle {
  color: rgba(0, 0, 0, 0.6);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  flex: 1 1 auto;
}

.main_title {
  align-self: center;
  text-align: center;
  padding: 30px 50px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  background: #222222;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 4px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 4px 24px 0px rgba(66, 68, 90, 1);
}

.main_btn {
  align-self: center;
  padding: 5px 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: tomato;
  transition: all ease-in-out 0.28s;
}

.main_btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 4px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 4px 24px 0px rgba(66, 68, 90, 1);
}

.main_btn:active {
  transform: translate(-1px, 1px);
}
